flask==3.0.3
flask-cors==4.0.1
flask-limiter==3.7.0
pydantic==2.7.1
pydantic-settings==2.3.4
supabase==2.5.0
python-dotenv==1.0.1
rembg==2.0.56
fal-client==0.5.4
openai==1.35.0
resend==2.1.0
rq==1.16.2
redis==5.0.7
Pillow==10.3.0
requests==2.32.3
python-multipart==0.0.9
gunicorn==22.0.0
rq-dashboard==0.6.1
onnxruntime==1.15.1
